body {
  margin: 0;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.nav-container {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px; 
  padding: 10px 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: transparent; 
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

@media (min-width: 600px) {
  .nav-link {
    font-size: 24px;
    padding: 10px;
  }
  .navbar {
    display: flex;
    gap: 30px; 
  }
}

@media (max-width: 599px) {
  .nav-link {
    font-size: 15px;
    padding: 5px;
  }
  .navbar {
    display: flex;
    gap: 10px; 
  }
}

.nav-link:hover {
  background-color: #575757;
  border-radius: 10px;
}

