
.Photo-container{
    background-color: black;
    background-size: cover;
    color: #FFF;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.Photo-title{
    padding-left: 20px;
    padding-right: 20px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Sawarabi Mincho";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.Picup-title{
    padding-left: 10vw; 
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Picup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    padding-bottom: 20vh;
}

.Picup-detail {
    padding: 30px;
    max-width: 50%;
    text-align: left;
}

.Picup-photo {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.Picup-detail-title {
    color: #FFF;
    font-family: "Sawarabi Mincho";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
}

.Picup-detail-context {
    color: #FFF;
    font-family: "Sawarabi Mincho";
    font-size: 26px;
    margin-top: 20px;
}

.Photo-list{
    display: flex;
    flex-wrap: wrap;
}

/* タブレット用*/
@media (max-width: 768px) {
    .Photo-title {
        font-size: 48px;
    }

    .Picup-title {
        padding-left: 5vw;
        font-size: 36px;
    }

    .Picup-container {
        flex-direction: column;
        padding-bottom: 10vh;
    }

    .Picup-detail {
        padding: 20px;
        max-width: 100%;
    }

    .Picup-photo {
        max-width: 100%;
    }

    .Picup-detail-title {
        font-size: 36px;
    }

    .Picup-detail-context {
        font-size: 20px;
    }
}

/* スマホ用*/
@media (max-width: 480px) {
    .Photo-title {
        font-size: 36px;
    }

    .Picup-title {
        padding-left: 5vw;
        font-size: 24px;
    }

    .Picup-container {
        flex-direction: column;
        padding-bottom: 5vh;
    }

    .Picup-detail {
        padding: 10px;
        max-width: 100%;
    }

    .Picup-photo {
        max-width: 100%;
    }

    .Picup-detail-title {
        font-size: 24px;
    }

    .Picup-detail-context {
        font-size: 18px;
    }

    .Photo-list {
        flex-direction: column;
        align-items: center;
    }
}